body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center; /* Căn giữa các nút theo chiều ngang */
    align-items: center; /* Căn giữa các nút theo chiều dọc */
    flex-grow: 1;
}

.button {
    padding: 10px 100px;
    margin: 0 10px; /* Tạo khoảng cách giữa hai nút */
    font-size: 16px;
    cursor: pointer;
}